<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    Hello this is route ejs!!!!
    <div>
        <img class="zucc" src="/images/zucc watching u.jpg" alt="Zucc is watching">
    </div>
</body>

</html>